<h4>Enter a Band</h4>

<form action="<%= bands_url %>" method="POST">

  <label for="band">Band Name</label>
  <input type="text" name="band[name]" id="band">

  <br>

  <input type="submit" value="Band Away">

</form>